<html lang="ru">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <title>Silaedr</title>
  <style type="text/css">
  body {
    margin: 0; /* Убираем отступы */
	margin-top: 0%;
   }
   h2 {
   margin-left: 20%;
   }
  ol {
    margin-left: 20%;
   }
  .version2 {
	margin-left: 0%;
  }
  li {
  font-size: 170%;
  line-height: 1.5;
  }
  pre {
  font-size: 150%;
  }
  .jep {
  margin: 0;
  margin-top: 5%;
  }
  .lep {
  	font-size: 170%;
  	margin-left: 20%;
  }
  .rep {
  	font-size: 170%;
  	margin-right: 20%;
  }
  </style>
<!--  <p><img src="C:\Users\dkost\Pictures\light-blue-construction-paper-texture.jpg"
 width="200" height="1111"align="left"></p>
  <p><img src="C:\Users\dkost\Pictures\light-blue-construction-paper-texture.jpg"
 width="200" height="1111" align="right"></p>-->
 </head>
<p class="jep"><a href="https://www.1303fm.org/"> <img src="C:\Users\Kostya\Pictures\kot.jpg"
 width="160" height="50" align="top"> </a></p>

 <body bgcolor="grey" style="background-image: url('file:///D:/Downloads/Telegram%20Desktop/1p1%20(2).jpg')">

 <h1 align="center">Школа Силаедр</h1>

 <p class="lep" align="left"><big><big>Достижения</big></big></p>

 <p class="lep" align="left"><big><big>Схема школы</big></big></p>

 <p class="rep" align="right"><big><big>Список учителей</big></big></p>
 
 <p class="rep" align="right"><big><big>Список учеников</big></big></p>

 <p><a href="http://peteraqua.ru/?_openstat=ZGlyZWN0LnlhbmRleC5ydTsxODM1NDMzMDsyMTA5MTY2ODAxO3lhbmRleC5ydTpwcmVtaXVt&yclid=4562837939942096736">
 <img src="C:\Users\Kostya\Pictures\logo_2.png"
 width="500" height="111" hspace="700" align="top"> </a> </p>

 <p align="center"><big><big>ымыввы</big></big></p>

 <p align="center"><big><big>У нас получилась такая модель, подходящая для безводного показа:</big></big></p>

 <p><img src="C:\Users\Kostya\Pictures\photo_2019-08-08_22-46-51.jpg"
 width="500" height="300" hspace="700" align="top"></p>

<pre align="center"><big><big>После мы перешли к изучению принципа работы современной подводной лодки,
чтобы наш макет мог изменять уровень глубины нахождения в воде.
 Далее мы начали делать свой механизм макета подводной лодки. И получили
 cледующие результаты на данный момент (работа продолжается):</big></big></pre>


<ol type="1">
		<li> Разработан принцип действия комплектующих данной подлодки: </li>

	<ol type="1" class="version2"> <li> Движением подлодки вперед управляет мотор постоянного вращения </li>
			<li> Сервопривод, управляющий плавником, дает направление нашей подлодке. </li>
			<li> Мы придумали свой способ управления уровнем подлодки в воде, который заключается<br/> в наборе воды в шприц. Набор воды происходит за счет работы мотора, управляющего<br/> шпилькой, которая накручивает на себя гайку, прикрепленную к поршню шприца. </li>
			<li> Arduino служит мозгом нашей подлодки, подавая напряжение на комплектующие в нужное <br/>время. </li> </ol>
		<li>Сделан работающий механизм подлодки
		<img src="C:\Users\Kostya\Pictures\Безымянный.png"
 width="500" height="300" hspace="400" align="top"></li>
			<li>Была написана программа на языке Arduino с алгоритмом для своевременной подачи<br/> напряжения на комплектующие.<a href="https://github.com/MrBenz2005/Sait-about-project/blob/master/algoritm_podlodka">Вот ссылка на код в GitHub </a> </li>
			<li> <video width="400" height="220" controls="controls">
					<source src="C:\Users\Kostya\Videos\Captures\Adobe Premiere Pro Auto-Save\YDXJ0185.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'> </video>– видео работы механизма</li>
			<li> Сделан пробный вариант макета на пластиковой бутылки.<img src="C:\Users\Kostya\Pictures\pdl.jpg"
																		width="500" height="300" hspace="300" align="top">
				<p><img src="C:\Users\Kostya\Pictures\photo_2019-07-28_16-42-49.jpg"
					width="500" height="300" hspace="300" align="top"><br/>На данных картинках мы изобразили подлодку изнутри. <p></li>
</ol>
<h2> Планы на будущее </h2>
<ol type="1">
	<li>При успешном эксперименте с пластиковой подлодкой начнем работу с основным деревянным <br/>корпусом. </li>
	<li>Сделать декоративную часть подводной лодки, максимально точно похожий на оригинал <br/>Ефима Никонова. </li>

 </body>
</html>