dj-database-url==0.5.0
Django==3.2.10
django-heroku==0.3.1
django-allauth
gunicorn==20.0.4
psycopg2-binary==2.8.6
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
whitenoise==5.2.
django-cors-headers==3.13.0